# Ignore all Jupyter notebook files
*.ipynb
.env

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore all text files ending with _api.txt
*_api.txt

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class
